{% extends "base.html" %}
{% block title %}
    Home
{% endblock %}
{% block main %}
<h1 class="pico">Selamat datang di Resonator!</h1>
<p class="pico">Resonator is a note taking app based on Python (flask) and MariaDB.</p>
<p class="pico">Fitur yang saat ini tersedia yaitu:</p>
<ul class="pico">
    <li>Membuat catatan baru</li>
    <li>Menyunting catatan yang sudah ada</li>
    <li>Menghapus catatan</li>
    <li>Mencari catatan berdasarkan judul atau konten</li>
    <li>Menyortir catatan berdasarkan tagar</li>
</ul>
{% endblock %}