{% extends "base.html" %}
{% block title %}
    Login
{% endblock %}
{% block main %}
<h1 class="pico">Login</h1>
<form class="pico" method="POST" action="{{ url_for('login') }}">
    <label for="username">Username/Email:</label>
    <input type="text" id="username" name="username" required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>

    <button type="submit">Login</button>
</form>
<p class="pico">Belum punya akun? <a href="{{ url_for('register') }}">Register di sini!</a></p>
{% endblock %}